body {
  margin: 0;
  padding: 5px;
  font-family: sans-serif;
}
p {
    margin: 2px;
}
tr {
    border: solid 1px black;
    border-collapse: collapse;
    margin: 0px;
    padding: 2px;

}
td {
    border: solid 1px black;
    border-collapse: collapse;
    margin: 0px;
    padding: 2px;
}
input[type=number] {
    width: 50px;
}
